@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
  padding: 10px 5px;
}
